services:
  backend:
    platform: linux/amd64
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: stage3-cnn-backend
    ports:
      - "8001:8000"
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: stage3-cnn-frontend
    ports:
      - "5180:80"
    depends_on:
      - backend
    restart: unless-stopped
